html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: rgb(234, 234, 234);
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: rgb(97, 118, 153);
}

body {
  color: rgb(16, 16, 16);
}

.button-play {
  display: inline-block;
  background: rgb(236, 127, 25);
  border-radius: 8px;
  border: none;
  padding: 5px 10px;
}

.modale {
  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 20px;
  color: white;
  z-index: 10;
  overflow-y: scroll;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
.modale.modale--closed {
  display: none;
}
.modale__closebutton:hover, .modale__closebutton:focus {
  cursor: pointer;
  opacity: 0.8;
}
.modale__image {
  float: right;
}
.modale__content {
  text-align: left;
}

.carroussel {
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-areas: "before main after";
}
.carroussel__main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-auto-flow: column;
  grid-auto-columns: 200px;
  justify-items: start;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.carroussel__vignette {
  min-width: auto;
  max-width: 182px;
  height: 268px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.carroussel__vignette .overlay {
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.56);
  width: 100%;
  overflow: hidden;
  transition: height 0.5s ease-out;
  height: 0px;
  z-index: 2;
}
.carroussel__vignette:hover .overlay {
  height: 100%;
}
.carroussel__vignette h3 {
  position: absolute;
  bottom: 50%;
  color: white;
  overflow: hidden;
  width: 100%;
  padding: 10px;
}
.carroussel__vignette img {
  height: 100%;
  display: block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.carroussel .before, .carroussel .after {
  margin: auto 0px;
  cursor: pointer;
}
.carroussel .before:hover, .carroussel .after:hover {
  fill: rgb(236, 127, 25);
}
.carroussel .before--inactive, .carroussel .after--inactive {
  display: none;
}
.carroussel .before {
  grid-area: before;
  text-align: right;
  margin-right: 12px;
  transform: scaleX(-1);
}
.carroussel .after {
  grid-area: after;
  text-align: left;
  margin-left: 4px;
}

.category {
  text-align: center;
}
.category > div {
  margin: auto;
  width: 900px;
}

.hero {
  display: grid;
  grid-template-columns: 270px 540px;
  grid-template-areas: "info preview";
  justify-content: center;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  --src: url();
}
.hero:before {
  content: "";
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  z-index: -1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.092);
  background-image: var(--src);
  background-size: cover;
  background-position-y: center;
  filter: blur(8px);
}
.hero__info {
  grid-area: info;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 4px;
}
.hero__preview {
  grid-area: preview;
  max-height: 268px;
  border: solid rgba(0, 0, 0, 0.4);
  border-width: 0px 4px;
}
.hero__preview img {
  vertical-align: bottom;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  justify-content: end;
}
.nav a, .nav a:visited {
  text-decoration: none;
  color: rgb(16, 16, 16);
}

.home {
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 30px;
}
.home header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0px 40px;
  position: sticky;
  top: 0px;
  z-index: 3;
}/*# sourceMappingURL=main.css.map */