$background: (
    main: rgb(234, 234, 234),
    header: rgb(97, 118, 153),
    button: rgb(236, 127, 25)
);
$color: (
    black: rgb(16, 16, 16)
);

$width: (
    content: 900px,
    poster: 182px,
);